{% extends "empty_content.html" %}
{% block content_visualization %}
     <div class="col-sm-12 col-md-12 col-lg-12">
          <div id="main-wrapper">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center templatemo-logo">
                <h1 class="templatemo-site-title" style="font-size:80px">
                  {% block page_title %}
                  {% endblock %}
                </h1> 
                <br>
                <h4 class="templatemo-site-title">
                  {% block page_subtitle_1 %}
                  {% endblock %}
                </h4>
                <h4 class="templatemo-site-title">
                  {% block page_subtitle_2 %}
                  {% endblock %}
                </h4>
            </div>
            <div class="container">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-md-offset-2 col-lg-offset-2 templatemo-content-wrapper">
                    <div class="templatemo-content">
                        <section id="menu-section" class="active">
                            <div class="row">
                                {% block menu_content_1 %}
                                {% endblock %}

                                {% block menu_content_2 %}
                                {% endblock %}

                                {% block menu_content_3 %}
                                {% endblock %}

                                {% block menu_content_4 %}
                                {% endblock %}

                                {% block menu_content_5 %}
                                {% endblock %}

                                {% block menu_content_6 %}
                                {% endblock %}
                            </div>
                        </section> 
                    </div>  
                </div> 
            </div>
        </div>
     </div>
  </div> 
  {% endblock %}