{% extends "empty_content.html" %}
{% block section_name %}
    Characters in longest scenes
{% endblock %}

{% block content_visualization %}
    <div id="data" data-data="{{ data }}">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="card graphCard" id="main-result-card">
                    <h5 class="card-header" style="text-align:center">
                        {{ description }}
                    </h5>
                    <div class="card-body scrollable">
                        <div class="row mb-5">
                            {% for row in data %}
                                <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10">
                                    <table class="table">
                                        <tr>
                                            <td>Name</td>
                                            <td>
                                                <a href="character/{{ row['character']['name'] }}">
                                                    {{ row['character']['name'] }}
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Nickname</td>
                                            <td>{{ row['character']['nickname'] }}</td>
                                        </tr>
                                        <tr>
                                            <td>Actor name</td>
                                            <td>{{ row['character']['actor'] }}</td>
                                        </tr>
                                        <tr>
                                            <td>Minutes</td>
                                            <td>{{ row['minutesList'] | sum() }}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col">
                                    <a href="character/{{ row['character']['name'] }}">
                                        {% if row['character']['imageThumb'] != "N/A" %}
                                            <img src="{{ row['character']['imageThumb'] }}"
                                                 alt="{{ row['character']['name'] }}"/>
                                        {% else %}
                                            <img src="{{ url_for('static', filename='img/default-avatar.png')}}"
                                                 style="width: 100px; height: 100px;"/>
                                        {% endif %}
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="card queryCard" id="query-card">
                    <h5 class="card-header" style="text-align:center">
                        Query: {{ query_title }}
                    </h5>
                    <div class="card-body scrollable">
                        <p><b>{{ query }}</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}