{% extends "empty_content.html" %}
{% block section_name %}
    Incests
{% endblock %}

{% block content_visualization %}
    <div id="data" data-data="{{ data }}">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="card graphCard" id="main-result-card">
                    <h5 class="card-header" style="text-align:center">
                        {{ description }}
                    </h5>
                    <div class="card-body scrollable">
                        <table class="table col-sm-12">
                            <thead>
                            <tr>
                                <th style="width: 33.33%">Lover #1</th>
                                <th style="width: 33.33%">Lover #2</th>
                                <th style="width: 33.33%">Kinship</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for row in data %}
                                <tr>
                                    <td style="width: 33.33%">
                                        <a href="character?name={{ row['first']['name'] }}">
                                            <figure class="figure">
                                                {% if row['first']['imageThumb'] != "N/A" %}
                                                    <img class="figure-img img-fluid rounded"
                                                         src="{{ row['first']['imageThumb'] }}"
                                                         alt="{{ row['first']['name'] }}"/>
                                                {% else %}
                                                    <img class="figure-img img-fluid rounded"
                                                         src="{{ url_for('static', filename='img/default-avatar.png')}}"
                                                         style="width: 100px; height: 100px;"/>
                                                {% endif %}
                                                <figcaption class="figure-caption">{{ row['first']['name'] }}
                                                </figcaption>
                                            </figure>
                                        </a>
                                    </td>
                                    <td style="width: 33.33%">
                                        <a href="character?name={{ row['second']['name'] }}">
                                            <figure class="figure">
                                                {% if row['second']['imageThumb'] != "N/A" %}
                                                    <img src="{{ row['second']['imageThumb'] }}"
                                                         alt="{{ row['second']['name'] }}"/>
                                                {% else %}
                                                    <img src="{{ url_for('static', filename='img/default-avatar.png')}}"
                                                         style="width: 100px; height: 100px;"/>
                                                {% endif %}
                                                <figcaption class="figure-caption">{{ row['second']['name'] }}
                                                </figcaption>
                                            </figure>
                                        </a>
                                    </td>
                                    <td style="width: 33.33%">
                                        {% if row['kinship'] == "SIBLING_OF" %}
                                            {{ "Siblings" }}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="card queryCard" id="query-card">
                    <h5 class="card-header" style="text-align:center">
                        Query: {{ query_title }}
                    </h5>
                        <pre>
                            <code class="cypher">{{ query }}</code>
                        </pre>  
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}