{% extends "layout.html" %}
{% block main_result_title %}
    <div id="description">
        {{ description }}
    </div>
{% endblock %}

{% block main_result_body %}
    <div class="container" id="data" data-data="{{ data }}">
        {% if data[0] | length > 0 %}
            <div class="card bg-dark text-light">
                <h5 class="card-header">
                    <div class="row">
                        <div class="col-sm-12 col-md-9 col-lg-9 col-xl-9">
                            {{ data[0]['character']['name'] }}
                        </div>
                        <div class="col">
                            <img src="{{ data[0]['character']['imageFull'] }}" alt="N/A"/>
                        </div>
                    </div>
                </h5>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <td scope="row">Nickname</td>
                            <td>{{ data[0]['character']['nickname'] }}</td>
                        </tr>
                        <tr>
                            <td scope="row">Actor name</td>
                            <td>{{ data[0]['character']['actor'] }}</td>
                        </tr>
                        <tr>
                            <td scope="row">First appearance</td>
                            <td>
                                {% set first_episode = data[0]['episodes'][0] %}
                                {{ first_episode['title'] ~ ' ('
                                        ~ first_episode['season'] ~ 'x' ~ first_episode['episode']
                                        ~ ')' }}
                            </td>
                        </tr>
                        <tr>
                            <td scope="row">Last appearance</td>
                            <td>
                                {% set last_episode = data[0]['episodes'][-1] %}
                                {{ last_episode['title'] ~ ' ('
                                        ~ last_episode['season'] ~ 'x' ~ last_episode['episode']
                                        ~ ')' }}
                            </td>
                        </tr>
                        <tr>
                            <td scope="row">Episode appearances</td>
                            <td>
                                {{ data[0]['episodes'] | count }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        {% else %}
            Sorry, there is no information about this character :(
        {% endif %}
    </div>
{% endblock %}

{% block query_title %}
    <div id="query_title" data-query_title="{{ query_title }}">
        {{ query_title }}
    </div>
{% endblock %}

{% block query_body %}
    <div id="query">
        {{ query }}
    </div>
{% endblock %}