{% extends "empty_content.html" %}
{% block script_block %}
    <script src="{{ url_for('static', filename='js/plotly-charts.js')}}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/utility.js')}}" type="text/javascript"></script>
{% endblock %}

{% block section_name %}
    Kill Counts
{% endblock %}

{% block content_visualization %}
    <div id="data" data-data="{{ data }}">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="card graphCard" id="main-result-card">
                    <h5 class="card-header" style="text-align:center">
                        {{ description }}
                    </h5>
                    <div id="kill-counts" class="card-body scrollable">
                        <script>
                            var killCounts = {{ data | safe}}
                                bar_chart("kill-counts", killCounts, 'Kill count per character', 'Character', 'Count')
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="card queryCard" id="query-card">
                    <h5 class="card-header" style="text-align:center">
                        Query: {{ query_title }}
                    </h5>
                    <div class="card-body scrollable">
                        <p><b>{{ query }}</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}