{% extends "empty_content.html" %}
{% block section_name %}
    Kill Methods
{% endblock %}

{% block content_visualization %}
    <div id="data" data-data="{{ data }}">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="card graphCard" id="main-result-card">
                    <h5 class="card-header" style="text-align:center">
                        {{ description }}
                    </h5>
                    <div class="card-body scrollable">
                        <table class="table col-sm-12">
                            <thead>
                            <tr>
                                <th>Character</th>
                                <th>Killing methods</th>
                                <th>Counts</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for row in data %}
                                <tr>
                                    <td>
                                        <a href="character/{{ row['character']['name'] }}">
                                            {% if row['character']['imageThumb'] != "N/A" %}
                                                <img src="{{ row['character']['imageThumb'] }}"
                                                     alt="{{ row['character']['name'] }}"/>
                                            {% else %}
                                                <img src="{{ url_for('static', filename='img/default-avatar.png')}}"
                                                     style="width: 100px; height: 100px;"/>
                                            {% endif %}
                                        </a>
                                        <a href="character/{{ row['character']['name'] }}">
                                            {{ row['character']['name'] }}
                                        </a>
                                    </td>
                                    <td>
                                        <table class="table col-sm-12">
                                            {% set method_cats = row['methodCats'] %}
                                            {% for mc in method_cats %}
                                                <tr>
                                                    <td>{{ mc }}</td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </td>
                                    <td>
                                        <table class="table col-sm-12">
                                            {% set counts = row['counts'] %}
                                            {% for c in counts %}
                                                <tr>
                                                    <td>{{ c }}</td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="card queryCard" id="query-card">
                    <h5 class="card-header" style="text-align:center">
                        Query: {{ query_title }}
                    </h5>
                    <div class="card-body scrollable">
                        <p><b>{{ query }}</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block query_title %}
    <div id="query_title" data-query_title="{{ query_title }}">
        {{ query_title }}
    </div>
{% endblock %}

{% block query_body %}
    <div id="query">
        {{ query }}
    </div>
{% endblock %}