{% extends "empty_content.html" %}
{% block section_name %}
    Lovers & Killers
{% endblock %}

{% block content_visualization %}
    <div id="data" data-data="{{ data }}">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="card graphCard" id="main-result-card">
                    <h5 class="card-header" style="text-align:center">
                        {{ description }}
                    </h5>
                    <div class="card-body scrollable">
                        <table class="table col-sm-12">
                            <thead>
                            <tr>
                                <th style="width: 33.33%">Killer</th>
                                <th style="width: 33.33%">Victim</th>
                                <th style="width: 33.33%">Reason</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for row in data %}
                                <tr>
                                    <td style="width: 33.33%">
                                        <a href="getCharacterInfo/{{ row['killer']['name'] }}">
                                            <img src="{{ row['killer']['imageThumb'] }}" alt="{{ row['killer']['name'] }}"/>
                                        </a>
                                    </td>
                                    <td style="width: 33.33%">
                                        <a href="getCharacterInfo/{{ row['killed']['name'] }}">
                                            <img src="{{ row['killed']['imageThumb'] }}" alt="{{ row['killed']['name'] }}"/>
                                        </a>
                                    </td>
                                    <td style="width: 33.33%">{{ row['killing']['reason'] }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="card queryCard" id="query-card">
                    <h5 class="card-header" style="text-align:center">
                        Query: {{ query_title }}
                    </h5>
                    <div class="card-body scrollable">
                        <pre>
                            <code class="cypher">{{ query }}</code>
                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}