{% extends "empty_content.html" %}
{% block section_name %}
    Murders
{% endblock %}

{% block content_visualization %}
    <div id="data" data-data="{{ data }}">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="card graphCard" id="main-result-card">
                    <h5 class="card-header" style="text-align:center">
                        {{ description }}
                    </h5>
                    <div class="card-body scrollable">
                        <div class="card bg-dark text-light">
                            <h5 class="card-header">
                                <div class="row">
                                    <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
                                        <a href="../character?name={{ data[0]['killer']['name'] }}">
                                            {{ data[0]['killer']['name'] }}
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a href="../character/{{ data[0]['killer']['name'] }}">
                                            {% if data[0]['killer']['imageFull'] != "N/A" %}
                                                <img src="{{ data[0]['killer']['imageFull'] }}"
                                                     alt="{{ data[0]['killer']['name'] }}"/>
                                            {% else %}
                                                <img src="{{ url_for('static', filename='img/default-avatar.png')}}"
                                                     style="width: 100px; height: 100px;"/>
                                            {% endif %}
                                        </a>
                                    </div>
                                </div>
                            </h5>
                            <div class="card-body">
                                <table class="table">
                                    <tr>
                                        <td scope="row">Nickname</td>
                                        <td>{{ data[0]['killer']['nickname'] }}</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">Actor name</td>
                                        <td>{{ data[0]['killer']['actor'] }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row mb-5">
                            {% for row in data %}
                                <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10">
                                    <table class="table">
                                        <tr>
                                            <td scope="row">Name</td>
                                            <td>
                                                <a href="../character/{{ row['dead']['name'] }}">
                                                    {{ row['dead']['name'] }}
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td scope="row">Nickname</td>
                                            <td>{{ row['dead']['nickname'] }}</td>
                                        </tr>
                                        <tr>
                                            <td scope="row">Actor name</td>
                                            <td>{{ row['dead']['actor'] }}</td>
                                        </tr>
                                        <tr>
                                            <td scope="row">Times</td>
                                            <td>{{ row['count'] }}</td>
                                        </tr>
                                        <tr>
                                            <td scope="row">When</td>
                                            <td>
                                                {% if row['count'] == 1 %}
                                                    {{ row['killings'][0]['season'] ~ "x" ~ row['killings'][0]['episode'] }}
                                                {% else %}
                                                    {{ "Various occasions" }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                    <a href="../character/{{ row['dead']['name'] }}">
                                        {% if row['dead']['imageThumb'] != "N/A" %}
                                            <img src="{{ row['dead']['imageThumb'] }}"
                                                 alt="{{ row['dead']['name'] }}"/>
                                        {% else %}
                                            <img src="{{ url_for('static', filename='img/default-avatar.png')}}"
                                                 style="width: 100px; height: 100px;"/>
                                        {% endif %}
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="card queryCard" id="query-card">
                    <h5 class="card-header" style="text-align:center">
                        Query: {{ query_title }}
                    </h5>
                    <div class="card-body scrollable">
                        <p><b>{{ query }}</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}