{% extends "empty_content.html" %}
{% block section_name %}
    Relatives & Killers
{% endblock %}

{% block content_visualization %}
    <div id="data" data-data="{{ data }}">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="card graphCard" id="main-result-card">
                    <h5 class="card-header" style="text-align:center">
                        {{ description }}
                    </h5>
                    <div class="card-body scrollable">
                        <table class="table col-sm-12">
                            <thead>
                            <tr>
                                <th style="width: 25%">Killer</th>
                                <th style="width: 25%">Victim</th>
                                <th style="width: 25%">Reason</th>
                                <th style="width: 25%">Kinship</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for row in data %}
                                <tr>
                                    <td style="width: 25%"><img src="{{ row['killer']['imageThumb'] }}"/></td>
                                    <td style="width: 25%"><img src="{{ row['killed']['imageThumb'] }}"/></td>
                                    <td style="width: 25%">{{ row['killing']['reason'] }}</td>
                                    <td style="width: 25%">{{ row['relTypes'] }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="card queryCard" id="query-card">
                    <h5 class="card-header" style="text-align:center">
                        Query: {{ query_title }}
                    </h5>
                    <div class="card-body scrollable">
                        <p><b>{{ query }}</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}