.scrollable{
    overflow: auto;
  }
  
  .graphCard{
    min-height: 80vh;
  }

  .queryCard{
    background-color: #F0F0F0;
    max-height: 50vh;
  }

  hr { 
    border-top: 5px double #8c8b8b;
  }