.scrollable{
    overflow-y: auto;
    overflow: hidden;
  }
  
  .graphCard{
    min-height: 80vh;
  }

  .queryCard{
    max-height: 30vh;
    background-color: rgb(230, 235, 230)
  }

  hr { 
    border-top: 5px double #8c8b8b;
  }