{% extends "empty_content.html" %}

{% block section_name %}
    GoT2Neo - Houses
{% endblock %}

{% block content_visualization %}
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                        <i class="nc-icon nc-globe text-warning"></i>
                    </div>
                    </div>
                    <div class="col-7 col-md-8">
                    <div class="numbers">  
                        <p class="card-category">Houses Kill</p>                      
                        <p class="card-title">Scores
                        </p><p>
                    </p></div>
                    </div>
                </div>
                </div>
                <div class="card-footer ">
                <hr>
                <div class="stats">
                    <i class="fa fa-refresh"></i> <a href="/houses/house-kills" class="btn btn-primary">View</a> 
                </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h4 class="card-header">Compare Houses</h4>
                <div class="card-body">
                    <form action="{{url_for('houses.compare_houses')}}" class="form-inline">
                        <select name="house1" id="house1" class="form-control mr-5">
                            {% for house in houses %}
                                <option>{{house}}</option>
                            {% endfor %}
                        </select>
                        <select name="house2" id="house2" class="form-control mr-5">
                            {% for house in houses %}
                                <option>{{house}}</option>
                            {% endfor %}
                        </select>
                        <button type="submit" class="btn btn-primary">Compare!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <h4 class="card-header">House List</h4>
                <div class="card-body">
                    <div class="list-group">
                        {% for house in houses %}                            
                            <a class="list-group-item list-group-item-action" href="/houses/{{house}}">{{house}}</a>                            
                        {% endfor%}
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}