{% extends "empty_content.html" %}

{% block script_block %}
    <script src="{{ url_for('static', filename='js/plotly-charts.js')}}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function (){
            var chart_data = {{barchart|safe}}//$('#kill-chart').attr('chart-data');
            console.table(chart_data)
            console.log(chart_data[0].x)
            bar_chart('kill-chart',chart_data,'Kill counts per houses','Kills','Houses');
        });
    </script>
{% endblock%}


{% block content_visualization %}    
    <div class="row">
        <div class="col-12">
            <div id="kill-chart" chart-data=""></div>
        </div>        
    </div>
{% endblock %}
