{% extends "empty_content.html" %}
{% block script_block %}
<script src="{{ url_for('static', filename='js/plotly-charts.js')}}" type="text/javascript"></script>
<script type="text/javascript">    
    $(document).ready(function (){
        var pie_labels = {{pie_labels|safe}}
        var pie_values = {{pie_values|safe}}

        pie_chart('piechart',pie_values,pie_labels,'House alive and dead stats');
    });
</script>

{% endblock %}  

{% block section_name %}
GoT2Neo - House {{house.name}}
{% endblock %}

{% block content_visualization %}  
    
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
            <div class="card">
                <h4 class="card-header">House {{house.name }}</h4>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-9 col-lg-9 col-xl-9">
                            <table class="table">
                                <tr>
                                    <td scope="row"><b>Region:</b></td>
                                    <td>{{house.region}}</td>
                                </tr>
                                <tr>
                                    <td scope="row"><b>Seat:</b></td>
                                    <td>{{house.seat}}</td>
                                </tr>
                                <tr>
                                    <td scope="row"><b>Words:</b></td>
                                    <td>{{house.words}}</td>
                                </tr>
                                <tr scope="row">
                                    <td><b>Religion:</b></td>
                                    <td>{{house.religion}}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Total Members:</b>                
                                    </td>
                                    <td>
                                        {{house.alive_c_no + house.dead_c_no}}
                                    </td>
                                </tr>
                                <tr>        
                                    <td>
                                        <b>
                                            Current Lord:
                                        </b>
                                    </td>
                                    <td>
                                        {{house.lord}}    
                                    </td>            
                                </tr>
                            </table>
                        </div>
                        <div class="col">
                            <img src="{{house.coa}}" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="card">
                <div id="piechart"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
            <div class="card card-plain">
                <div class="card-header">
                    <h4 class="card-title"> Notable House Members</h4>                    
                </div>
                <div class="card-body">
                    <div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                {% for member in house.alive_characters %}
                                    <tr>
                                        <td>{{member}}</td>
                                        <td>Alive</td>
                                    </tr>
                                {% endfor %}
                                
                                {% for member in house.dead_characters %}
                                    <tr>
                                        <td>{{member}}</td>
                                        <td>Dead</td>
                                    </tr>
                                {% endfor %}                                                                                                                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> 
        </div>

        


    </div>

    <div class="row">
        <div class="col-12">
            {% for query in queries %}
            <div class="card queryCard" id="query-card">
                <h5 class="card-header" style="text-align:center">
                    Query: {{query['name']}}
                </h5>
                <div class="card-body scrollable">
                    <p>
                        <b>
                            {{query['value']}}
                        </b>
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
