{% extends "layout.html" %}
{% block main_result_title %}
    Main Result    
{% endblock %}

{% block main_result_body%}
    <p>
        {% for rows in result %}
            {% for row in rows %}
                    <p>row: <b>{{row}}</b></p>
            {% endfor %}
        {% endfor %}
     </p>
{% endblock %}

{% block query_title %}
   Query 
{% endblock %}

{% block query_body%}
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Praesent nec neque id enim dictum commodo at eu dolor. 
        Aliquam ex quam, porttitor sed neque ac, feugiat mollis massa. 
        Pellentesque imperdiet mollis pretium. 
        Sed quis blandit urna, in tristique ante. 
        Nulla facilisi. Suspendisse vitae neque dolor. 
        Sed a tortor vel nisl fringilla consequat sed non est. 
        Donec neque enim, elementum nec est sit amet, fringilla tristique est. 
        Vestibulum auctor vulputate neque, nec convallis nisi hendrerit at. 
        Cras auctor erat non enim ultrices sollicitudin. Ut ac urna magna.
    </p>
{% endblock %}