{% extends "episodes/layout.html" %}
{% block script_block %}
    <script src="{{ url_for('static', filename='js/plotly-charts.js')}}" type="text/javascript"></script>
{% endblock%}
{% block section_name %}
Seasons
{% endblock %}

{% block content_visualization %}
   <!--   SCORES   -->
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="card graphCard" id="main-result-card" >
                <h5 class="card-header">
                    Mean scores of the seasons
                </h5>
                <div id="season_scores_mean" class="card-body scrollable">
                    <script>
                        var dataMean = {{dataMean | safe}}
                        bar_chart("season_scores_mean", dataMean, 'Mean score (RottenTomatoes/IMdB)', 'Seasons', 'Scores')
                    </script>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="card graphCard" id="main-result-card">
                <h5 class="card-header">
                    Standard deviation scores of the seasons
                </h5>
                <div id="season_scores_std" class="card-body scrollable">
                    <script>
                        var dataStd = {{dataStd | safe}}
                        bar_chart("season_scores_std", dataStd, 'Std score (RottenTomatoes/IMdB)', 'Seasons', 'Scores')
                    </script>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="card queryCard" id="query-card">
                <h5 class="card-header">
                    Query: getScoreStatsPerSeason
                </h5>
                <div class="card-body scrollable">
                    <p><b>{{query_score}}</b></p>
                </div>
            </div>
        </div>
    </div>
<hr>

<!--   DURATION   -->
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="card graphCard" id="main-result-card" >
                <h5 class="card-header">
                    Duration of the seasons
                </h5>
                <div id="season_duration" class="card-body scrollable">
                    <script>
                        var tmpSeasonLabels = {{seasonLabels | safe}}
                        
                        var seasonDurations = {{seasonDurations | safe}}
                        seasonLabels = []
                        tmpSeasonLabels[0].x.forEach(function(element) {
                            seasonLabels.push('Season: ' +element)
                        });

                        pie_chart("season_duration", seasonDurations, seasonLabels, 'Total duration of the seasons in hours')
                    </script>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="card queryCard" id="query-card">
                <h5 class="card-header">
                    Query: getDurationPerSeason
                </h5>
                <div class="card-body scrollable">
                    <p><b><b>{{query_duration}}</b></p>
                </div>
            </div>
        </div>
    </div> 
<hr>

    <!--   VIEWERS   -->
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="card graphCard" id="main-result-card" >
                <h5 class="card-header">
                    Total viewers for season calculated in millions
                </h5>
                <div id="season_total_viewers" class="card-body scrollable">
                    <script>
                        var numbViewers = {{numbViewers | safe}}
                        bar_chart("season_total_viewers", numbViewers, 'Total viewers for season', 'Seasons', 'Viewers')
                    </script>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="card graphCard" id="main-result-card" >
                <h5 class="card-header">
                    Mean viewers for season calculated in millions
                </h5>
                <div id="season_mean_viewers" class="card-body scrollable">
                    <script>
                        var meanViewers = {{meanViewers | safe}}
                        bar_chart("season_mean_viewers", meanViewers, 'Mean viewers', 'Seasons', 'Mean viewers')
                    </script>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="card graphCard" id="main-result-card">
                <h5 class="card-header">
                    Standard deviation viewers for seasons
                </h5>
                <div id="season_std_viewers" class="card-body scrollable">
                    <script>
                        var stdViewers = {{stdViewers | safe}}
                        bar_chart("season_std_viewers", stdViewers, 'Std viewers', 'Seasons', 'Std viewers')
                    </script>
                </div>
            </div>
        </div>
    </div>    
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="card queryCard" id="query-card">
                <h5 class="card-header">
                    Query: getViewersStatsPerSeason
                </h5>
                <div class="card-body scrollable">
                    <p><b><b>{{query_viewers}}</b></p>
                </div>
            </div>
        </div>
    </div> 
{% endblock %}